body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.wrapper,.list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.item{
    width: 50%;
}
.management,
.ux-ui,
.logo,
.animation{
    width: 50%;
}
button{
    margin-top: 10px;
    color: red;
    background-color: white;
    width: 120px;
    height: 35px;
    border-radius: 6px;
}
h2{
    font-size: 35px;
    margin: 20px;
}